 <a class='btn btn-primary' href='/cat'>Quay lại trang sản phẩm</a>
<br>
<h1 class="my-4">
    {{ps.0.ProName}}
  </h1>
 
  <!-- Portfolio Item Row -->
  <div class="row">

    <div class="col-md-4">
      <img class="img-fluid" src="/{{ps.0.ProID}}/1.jpg/detailPanelImage" alt="">
    </div>

    <div class="col-md-4">
      <h3 class="my-3">Sản phầm</h3>
      <p>{{ps.0.TinyDes}}</p>
      <h3 class="my-3">Chi tiết</h3>
      {{{ps.0.FullDes}}}
    </div>

  </div>
  <!-- /.row -->

  <!-- Related Projects Row -->
  <h3 class="my-4">Hình ảnh</h3>

  <div class="row">

    <div class="col-md-3 col-sm-6 mb-4">
      <a href="#">
            <img class="img-fluid" src="/{{ps.0.ProID}}/1_thumbs.jpg/detailPanelImage" alt="">
          </a>
    </div>

    <div class="col-md-3 col-sm-6 mb-4">
      <a href="#">
            <img class="img-fluid" src="/{{ps.0.ProID}}/2_thumbs.jpg/detailPanelImage" alt="">
          </a>
    </div>

    <div class="col-md-3 col-sm-6 mb-4">
      <a href="#">
            <img class="img-fluid" src="/{{ps.0.ProID}}/main_thumbs.jpg/detailPanelImage" alt="">
          </a>
    </div>

    

  </div>