<!DOCTYPE html>
<html>

<head>
    {{>home/header}}
</head>

<body class="preloading">
    <div class="container">
        {{>home/nav}}
        <br>
        {{> DetailProduct}}
    </div>

</body>

</html>