<html>

<head>
        <title>{{title}}</title>
        {{> home/header}}
</head>

<body>
        <div class="container">
                {{>home/nav}}
                <br>
                <div class="row">
                        <div class="col-sm-3 ">
                                {{>home/side}}
                        </div>

                        <div class="col-sm-9">
                                {{>home/content}}
                        </div>



                </div>
        </div>

</body>
<script>
        $('.loadps').click(function () {
                $('.loadps').removeClass('active');
                $(this).addClass('active');
                let Catid = $(".cate .active").attr('data-catid');
                let page = $(this).text();
                $.ajax({
                        url: `/cat/${Catid}/${page}/products`,
                        type: 'get'

                }).done(function (result) {
                         $('.main').empty();
                        for (let pro of result.ps) {
                                $('.main').append(`
             <a href='/Product/${pro.ProID}/detail' class="col-sm-6 card "><div  style="padding:0px">
        <div class="row ">
            <img class="col-sm-6 card-img-top " src='/${pro.ProID}/mainimage' alt="Card image cap">
           
            <div class="col-sm-6">
                <h5 class="card-title">${pro.ProName}</h5>
                <p class="card-text">${pro.TinyDes}</p>
                <p>Price: ${pro.Price}</p>
                <p>Quantity: ${pro.Quantity}</p>
              
            </div>
            <br>
             
        </div>
    </div>
     </a>
            `);
                        }

                })
        })
</script>