<div class="row main " style="padding-left:13px;cursor:pointer">
    {{#each ps}}
    <a href='/Product/{{ProID}}/detail' class="col-sm-6 card "><div style="padding:0px">
        <div class="row ">
            <img class="col-sm-6 card-img-top " src='/{{ProID}}/mainimage' alt="Card image cap">
            <div class="col-sm-6">
                <h5 class="card-title">{{ProName}}</h5>
                <p class="card-text">{{TinyDes}}</p>
                <p>Price: {{Price}}</p>
                <p>Quantity: {{Quantity}}</p>
               
            </div>
        </div>
    </div>
    </a>

    {{/each}}

</div>
<br>
<nav aria-label="Page navigation example">
    <ul class="pagination" style="cursor:pointer">
        <li class="page-item loadps hover"><span class="page-link ">Previous</span></li>
        <li class="page-item loadps"><span class="page-link">1</span></li>
        <li class="page-item loadps"><span class="page-link">2</span></li>
        <li class="page-item loadps"><span class="page-link">3</span></li>
        <li class="page-item loadps"><span class="page-link ">Next</span></li>
    </ul>
</nav>
