<div class="card-header bg-primary text-white">Categories</div>
<div class="list-group cate ">
    {{#each cats}}
    <a href='/cat/{{CatID}}/products' class='list-group-item list-group-item-action {{#if isActive}}active{{/if}}' data-catid={{CatID}}>
        {{CatName}}
    </a>
    {{/each}}
</div>